########################################
# configuration file for EffUpdater mt #
########################################
isData = false

# flags
ApplyPUweight = true
ApplyLepIdIsoSF = true
ApplyTriggerSF = true
ApplyTrackSF = true

pileUpInDataFile = DesyTauAnalyses/NTupleMaker/data/PileUpDistrib/pileUp_data_Cert_271036-276811_13TeV_PromptReco_Collisions16_xsec69p2mb.root
pileUpInMCFile = DesyTauAnalyses/NTupleMaker/data/PileUpDistrib/MC_Spring16_PU.root

idIsoEffFile = HTT-utilities/LepEffInterface/data/Muon/Run2016BCD/Muon_IdIso0p15_eff.root
trigEffFile = HTT-utilities/LepEffInterface/data/Muon/Run2016BCD/Muon_IsoMu22_OR_TkIsoMu22_eff_fineBinning.root

