[global]
module  = CMSSW_Advanced
; change to your working directory

workdir = /nfs/dust/cms/user/ywen/MyBigNTuplesSamples/HappyWorkingArea/SingleMuon_Run2018A_17Sep2018v2
backend = local

[storage]
se input timeout  = 6:00
se output timeout = 6:00
se output files   = output_DATA.root
se output pattern = @NICK@/@NICK@_@MY_JOBID@.root
se path           = /nfs/dust/cms/user/ywen/Storage/SingleMuon_Run2018A_17Sep2018v2


[local]
submit options = -l site=hh
;	os => sld6
;	h_rt => 167:59:00
;	h_rt => 11:59:00	
;	h_vmem => 4000M

proxy = VomsProxy

[jobs]
;wall time = 167:59:00
wall time = 11:59:00
in flight = 20000
monitor = dashboard
shuffle = true
;queue timeout = 119:59:00
queue timeout = 11:59:00
memory = 4000
dataset provider = DBS3Provider

[dataset]
resync interactive = False
dataset provider  = DBS3Provider
;dbs instance = phys03

[grid]
sites      = -samtests -group_admin -monitor -lcgadmin 
dataset provider  = DBS3Provider

[glite-wms]
config        = docs/glite_wms_CERN.conf
use delegate  = False
dataset provider  = DBS3Provider

[CMSSW_Advanced]
depends=gLite
dataset provider  = DBS3Provider
dataset splitter = EventBoundarySplitter
;HybridSplitter


project area = ../../../..
se runtime         = True
events per job     = 150000

dataset            =
;		   SingleMuon_Run2017B_PRv1 : /SingleMuon/Run2017B-PromptReco-v1/MINIAOD
;          SingleMuon_Run2017B_PRv2 : /SingleMuon/Run2017B-PromptReco-v2/MINIAOD
;          SingleMuon_Run2017C_PRv1 : /SingleMuon/Run2017C-PromptReco-v1/MINIAOD
;          SingleMuon_Run2017C_PRv2 : /SingleMuon/Run2017C-PromptReco-v2/MINIAOD
;          SingleMuon_Run2017C_PRv3 : /SingleMuon/Run2017C-PromptReco-v3/MINIAOD
;          SingleMuon_Run2017D_PRv1 : /SingleMuon/Run2017D-PromptReco-v1/MINIAOD
;          SingleMuon_Run2017E_PRv1 : /SingleMuon/Run2017E-PromptReco-v1/MINIAOD
;          SingleMuon_Run2017F_PRv1 : /SingleMuon/Run2017F-PromptReco-v1/MINIAOD
;		   SingleElectron_Run2017B_PRv1 : /SingleElectron/Run2017B-PromptReco-v1/MINIAOD
;          SingleElectron_Run2017B_PRv2 : /SingleElectron/Run2017B-PromptReco-v2/MINIAOD
;          SingleElectron_Run2017C_PRv1 : /SingleElectron/Run2017C-PromptReco-v1/MINIAOD
;          SingleElectron_Run2017C_PRv2 : /SingleElectron/Run2017C-PromptReco-v2/MINIAOD
;          SingleElectron_Run2017C_PRv3 : /SingleElectron/Run2017C-PromptReco-v3/MINIAOD
;          SingleElectron_Run2017D_PRv1 : /SingleElectron/Run2017D-PromptReco-v1/MINIAOD
;          SingleElectron_Run2017E_PRv1 : /SingleElectron/Run2017E-PromptReco-v1/MINIAOD
;          SingleElectron_Run2017F_PRv1 : /SingleElectron/Run2017F-PromptReco-v1/MINIAOD
           SingleMuon_Run2018A_17Sep2018v2 : /SingleMuon/Run2018A-17Sep2018-v2/MINIAOD


;nickname source    = nickProducer.signalNicks

nickname config    = TreeProducerFromMiniAOD_102x_Data25ns.py
	 


