[global]
module  = CMSSW_Advanced
; change to your working directory

workdir = /nfs/dust/cms/user/rasp/grid-jobs/gc_Data92X_2017B_PRv1.config
backend = local

[storage]
se input timeout  = 6:00
se output timeout = 6:00
se output files   = output_DATA.root
se output pattern = @NICK@/@NICK@_@MY_JOBID@.root
se path           = /nfs/dust/cms/user/rasp/ntuples/Run2017


[local]
submit options = -l site=hh
;	os => sld6
;	h_rt => 167:59:00
;	h_rt => 11:59:00	
;	h_vmem => 4000M

proxy = VomsProxy

[jobs]
;wall time = 167:59:00
wall time = 11:59:00
in flight = 20000
monitor = dashboard
shuffle = true
;queue timeout = 119:59:00
queue timeout = 11:59:00
memory = 4000
dataset provider = DBS3Provider

[dataset]
resync interactive = False
dataset provider  = DBS3Provider
;dbs instance = phys03

[grid]
sites      = -samtests -group_admin -monitor -lcgadmin 
dataset provider  = DBS3Provider

[glite-wms]
config        = docs/glite_wms_CERN.conf
use delegate  = False
dataset provider  = DBS3Provider

[CMSSW_Advanced]
depends=gLite
dataset provider  = DBS3Provider
dataset splitter = EventBoundarySplitter
;HybridSplitter


project area = ../../../..
se runtime         = True
events per job     = 20000

dataset            =
		   SingleMuon_Run2017B_PRv1 : /SingleMuon/Run2017B-PromptReco-v1/MINIAOD
		   SingleElectron_Run2017B_PRv1 : /SingleElectron/Run2017B-PromptReco-v1/MINIAOD

nickname source    = nickProducer.signalNicks

nickname config    = TreeProducerFromMiniAOD_92x_Data25ns.py
	 


