[global]
module  = CMSSW_Advanced
; change to your working directory

workdir = /nfs/dust/cms/user/fcost/tools/grid-jobs/work.gc_MiniAODv2_MVAMET_5GeV/
backend = local

[storage]
se input timeout  = 6:00
se output timeout = 6:00
se output files   = output.root
se output pattern = @NICK@/@NICK@_@MY_JOBID@.root
se path           = 
;  change to the directory where plain ntuples will be stored
         /nfs/dust/cms/user/fcost/store/DataCards_MVAMEt_5GeV/
	 ;/nfs/dust/cms/group/susy-desy/Run2/MC/Stau/MC_Spring15_V1/

[local]
submit options = 
	site => hh
	os => sld6
;	h_rt => 167:59:00
	h_rt => 11:59:00	
	h_vmem => 4000M

proxy = VomsProxy

[jobs]
;wall time = 167:59:00
wall time = 49:59:00
in flight = 20000
monitor = dashboard
shuffle = true
;queue timeout = 119:59:00
queue timeout = 49:59:00
memory = 4000
dataset provider = DBS3Provider

[dataset]
resync interactive = False
dataset provider  = DBS3Provider

[grid]
sites      = -samtests -group_admin -monitor -lcgadmin -cern -roma1.infn.it
dataset provider  = DBS3Provider

[glite-wms]
config        = docs/glite_wms_CERN.conf
use delegate  = False
dataset provider  = DBS3Provider

[CMSSW_Advanced]
depends=gLite
dataset provider  = DBS3Provider
dataset splitter = HybridSplitter


project area = ../../../..
se runtime         = True
events per job     = 1

dataset            =
		   GluGluHToTauTau_M125_13TeV_powheg_pythia8 : /GluGluHToTauTau_M125_13TeV_powheg_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

		   SUSYGluGluToHToTauTau_M-160_TuneCUETP8M1_13TeV-pythia8 : /SUSYGluGluToHToTauTau_M-160_TuneCUETP8M1_13TeV-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

		   DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8 : /DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ;DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8 : /DYJetsToLL_M-10to50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ;DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8 : /DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

                   TT_TuneCUETP8M1_13TeV-powheg-pythia8 : /TT_TuneCUETP8M1_13TeV-powheg-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2_ext3-v1/MINIAODSIM

		   ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1 : /ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1 : /ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v2/MINIAODSIM
		   ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1 : /ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1 : /ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

		   WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8 : /WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM

		   VVTo2L2Nu_13TeV_amcatnloFXFX_madspin_pythia8 : /VVTo2L2Nu_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ZZTo2L2Q_13TeV_amcatnloFXFX_madspin_pythia8 : /ZZTo2L2Q_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   ZZTo4L_13TeV-amcatnloFXFX-pythia8 : /ZZTo4L_13TeV-amcatnloFXFX-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   WWTo1L1Nu2Q_13TeV_amcatnloFXFX_madspin_pythia8 : /WWTo1L1Nu2Q_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   WZTo2L2Q_13TeV_amcatnloFXFX_madspin_pythia8 : /WZTo2L2Q_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   WZJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8 : /WZJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   WZTo1L3Nu_13TeV_amcatnloFXFX_madspin_pythia8 : /WZTo1L3Nu_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM
		   WZTo1L1Nu2Q_13TeV_amcatnloFXFX_madspin_pythia8 : /WZTo1L1Nu2Q_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring15MiniAODv2-74X_mcRun2_asymptotic_v2-v1/MINIAODSIM


nickname source    = nickProducer.signalNicks

nickname config    = TreeProducerFromMiniAOD_74x_MC25ns.py 

;nickname constants = SKIM 

;SKIM = 1
;	DYJetsToLL => 0
;	WJetsToLNu => 0


