[global]
module  = CMSSW_Advanced
; change to your working directory

workdir = /nfs/dust/cms/user/alkaloge/tools/grid-jobs/work.gc_MC_MiniAODv2_80x_v1
backend = local

[storage]
se input timeout  = 12:00
se output timeout = 12:00
se output files   = output_MC.root
se output pattern = @NICK@/@NICK@_@MY_JOBID@.root
se path           = 
;  change to the directory where plain ntuples will be stored
         /nfs/dust/cms/group/higgs-kit/80x_v2/

[local]
submit options = 
	site => hh
	os => sld6
;	h_rt => 167:59:00
	h_rt => 5:59:00	
	h_vmem => 6000M

proxy = VomsProxy

[jobs]
;wall time = 167:59:00
wall time = 5:59:00
in flight = 20000
monitor = dashboard
shuffle = true
;queue timeout = 119:59:00
queue timeout = 11:59:00
memory = 6000
dataset provider = DBS3Provider

[dataset]
resync interactive = False
dataset provider  = DBS3Provider

[grid]
sites      = -samtests -group_admin -monitor -lcgadmin
; -cern -roma1.infn.it
dataset provider  = DBS3Provider

[glite-wms]
config        = docs/glite_wms_ALL.conf
use delegate  = False
dataset provider  = DBS3Provider

[CMSSW_Advanced]
depends=gLite
dataset provider  = DBS3Provider
dataset splitter = EventBoundarySplitter
;HybridSplitter


project area = ../../../..
se runtime         = True
events per job     = 100000

dataset            =
;		   SUSYGluGluToHToTauTau_M-160_TuneCUETP8M1_13TeV-pythia8 : /SUSYGluGluToHToTauTau_M-160_TuneCUETP8M1_13TeV-pythia8/RunIISpring16MiniAODv1-PUSpring16_80X_mcRun2_asymptotic_2016_v3-v1/MINIAODSIM
	



	WZTo3LNu_TuneCUETP8M1_13TeV-powheg-pythia8  : /WZTo3LNu_TuneCUETP8M1_13TeV-powheg-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	TGJets_TuneCUETP8M1_13TeV_amcatnlo_madspin_pythia8 : /TGJets_TuneCUETP8M1_13TeV_amcatnlo_madspin_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0_ext1-v1/MINIAODSIM
	TTGJets_TuneCUETP8M1_13TeV-amcatnloFXFX-madspin-pythia8 : /TTGJets_TuneCUETP8M1_13TeV-amcatnloFXFX-madspin-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ttWJets_13TeV_madgraphMLM : /ttWJets_13TeV_madgraphMLM/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ttZJets_13TeV_madgraphMLM : /ttZJets_13TeV_madgraphMLM/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	tZq_ll_4f_13TeV-amcatnlo-pythia8 : /tZq_ll_4f_13TeV-amcatnlo-pythia8_TuneCUETP8M1/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WWTo2L2Nu_13TeV-powheg : /WWTo2L2Nu_13TeV-powheg/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WWToLNuQQ_13TeV-powheg : /WWToLNuQQ_13TeV-powheg/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0_ext1-v1/MINIAODSIM
	WWTo4Q_13TeV-powheg : /WWTo4Q_13TeV-powheg/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WW_DoubleScattering_13TeV-pythia8 : /WW_DoubleScattering_13TeV-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WZ_TuneCUETP8M1_13TeV-pythia8 : /WZ_TuneCUETP8M1_13TeV-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM

	WWZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /WWZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /WZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	WWG_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /WWG_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0_ext1-v3/MINIAODSIM
	WZTo3LNu_TuneCUETP8M1_13TeV-powheg-pythia8 : /WZTo3LNu_TuneCUETP8M1_13TeV-powheg-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM

	WWW_4F_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /WWW_4F_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM

	ZZTo2L2Nu_13TeV_powheg_pythia8 : /ZZTo2L2Nu_13TeV_powheg_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZZTo2Q2Nu_13TeV_amcatnloFXFX_madspin_pythia8 : /ZZTo2Q2Nu_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZZTo4L_13TeV_powheg_pythia8 : /ZZTo4L_13TeV_powheg_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZZTo4Q_13TeV_amcatnloFXFX_madspin_pythia8 : /ZZTo4Q_13TeV_amcatnloFXFX_madspin_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /ZZZ_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM


	WGToLNuG_TuneCUETP8M1_13TeV-madgraphMLM-pythia8 : /WGToLNuG_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZGGJets_ZToHadOrNu_5f_LO_madgraph_pythia8 : /ZGGJets_ZToHadOrNu_5f_LO_madgraph_pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	ZGTo2LG_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8 : /ZGTo2LG_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	TTJets_TuneCUETP8M1_13TeV-madgraphMLM-pythia8 : /TTJets_TuneCUETP8M1_13TeV-madgraphMLM-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0-v1/MINIAODSIM
	TTTT_TuneCUETP8M1_13TeV-amcatnlo-pythia8 : /TTTT_TuneCUETP8M1_13TeV-amcatnlo-pythia8/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0_ext1-v1/MINIAODSIM
	TTTo2L2Nu_13TeV-powheg : /TTTo2L2Nu_13TeV-powheg/RunIISpring16MiniAODv2-PUSpring16_80X_mcRun2_asymptotic_2016_miniAODv2_v0_ext1-v1/MINIAODSIM







	   		
nickname source    = nickProducer.signalNicks

nickname config    = TreeProducerFromMiniAOD_80x_MC25ns.py

;nickname constants = SKIM 

;SKIM = 1
;	DYJetsToLL => 0
;	WJetsToLNu => 0


