DY*JetsToLL_M-50_TuneCP5_13TeV_madgraphMLM_pythia8
*_files
MuonEG_Run2018A
MuonEG_Run2018B
MuonEG_Run2018C
MuonEG_Run2018D
ST_t-channel_antitop_4f_InclusiveDecays_TuneCP5_13TeV-powheg-madspin-pythia8
ST_t-channel_top_4f_InclusiveDecays_TuneCP5_13TeV-powheg-madspin-pythia8
ST_tW_antitop_5f_inclusiveDecays_TuneCP5_13TeV-powheg-pythia8
ST_tW__5f_inclusiveDecays_TuneCP5_13TeV-powheg-pythia8
ST_tW_top_5f_inclusiveDecay
ST_tW_top_5f_inclusiveDecays_TuneCP5_13TeV-powheg-pythia8
SingleMuon_Run2018A
SingleMuon_Run2018B
SingleMuon_Run2018C
SingleMuon_Run2018D
TTTo2L2Nu_TuneCP5_13TeV_powheg_pythia8
TTToHadronic_TuneCP5_13TeV_powheg_pythia8
TTToSemiLeptonic_TuneCP5_13TeV_powheg_pythia8
W*JetsToLNu_TuneCP5_13TeV-madgraphMLM-pythia8
WW_TuneCP5_13TeV-pythia8
WZ_TuneCP5_13TeV-pythia8
ZZ_TuneCP5_13TeV-pythia8
analysisMacroSynch_em_Signal.conf
analysisMacroSynch_em_DY.conf
analysisMacroSynch_em_Signal_ggh.conf
analysisMacroSynch_em_W.conf